<!doctype html>
<html lang="pt-br" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <title>
      {% block title %} Sistema de Medição Meteorológica{% endblock %}
    </title>
  </head>
  <body class="bg-background/70">
    <header class="border-b bg-background backdrop-blur">
      <div class="container py-4 flex items-center justify-between gap-4">
        <a class="flex flex-col no-underline" href="/">
          <span class="text-lg font-bold tracking-wide">
            Inteli
          </span>
          <span class="text-xs tracking-tight">
            Sistema de Medição de Estação Meteorológica
          </span>
        </a>

        <nav class="flex items-center gap-2">
          <a class="btn btn--outline" href="/">Painel</a>
          <a class="btn btn--outline" href="/historico">Histórico</a>
        </nav>
      </div>
    </header>

    <main class="container py-8 margin-auto w-5/6" {% block main_attrs %}{% endblock %}>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
